.a{
background-color: blue;
color: aqua;
text-align: center;
align-items: center;
}

h1{
    background-color: rgb(105, 166, 219);
}
.b{
background-color: green;
color: limegreen;
text-align: center;
align-items: center;
}
h1{
    background-color: mediumseagreen;
}

.c{background-color: rgb(236, 31, 48);
color: rgb(94, 6, 6);
text-align: center;
align-items: center;
}
h1{
   background-color: black;
}

.d{background-color: rgb(252, 34, 34);
color: rgb(37, 14, 0);
text-align: center;
align-items: center;
}
h1{
   background-color: rgb(235, 235, 235);
}